<%= form_with(model: usuario) do |form| %>
  <% if usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
        <% usuario.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="card-body">
  <div class="form-group">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, class: 'form-control'%>
  </div>

  <div class="form-group">
    <%= form.label :apellido %>
    <%= form.text_field :apellido, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :telefono %>
    <%= form.text_field :telefono, class: 'form-control' %>
  </div>

  <div class="actions">

    <div class="actions">
    <%= link_to usuarios_path, :class => "btn btn-danger" do %>
     Atras
    <% end %>

   <%= form.submit class: 'btn btn-primary'  %>
    </div>
<% end %>
</div>